/**
 * Variables
 */
:root {
  --theme-color: #d1392b;
  --color-secondary: #FFA800;
  --body-color: #404040;
  --bold-color: #191919;
  --border-color: #d6d6d6;
  --button-hover: #222222;
  --shadow: 0 0 1rem #dddddd;
}

/* Default Box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
 * html and body.
 */
html:focus-within {
  scroll-behavior: smooth;
}

html {
  font-size: 18px;
  scroll-behavior: smooth;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  height: 100%;
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Heebo', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  background: #fcfbf8;
  color: #535353;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-size-adjust: 100%;
  /* Fix Mobile Safari Font Scale */
  -ms-text-size-adjust: 100%;
  /* Fix IE Font Scale */
}

/*
 * Fields and regions.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

summary {
  display: list-item;
  cursor: pointer;
  color: #222;
}

template,
[hidden] {
  display: none;
}

/**
 * Typography
 */
/* Typography -> Headings. */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--bold-color);
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
  margin: 0 0 10px 0;
}

h1 {
  font-size: 2.3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.7rem;
}

h4 {
  font-size: 1.4rem;
}

h5, h6 {
  font-size: 1.2rem;
}

/* Typography -> Paragraph */
p {
  margin: 0 0 1rem 0;
}

/* Typography -> Links. */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  color: var(--theme-color);
  background-color: transparent;
  text-decoration: none;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

a:active,
li a.active {
  color: var(--theme-color);
}

a:hover {
  color: var(--color-secondary);
}

a:active,
a:hover,
a:focus {
  text-decoration: none;
  border: 0;
  outline: 0;
}

/* Typography -> code tags */
pre {
  font-family: monospace, monospace;
  font-size: 1rem;
  /* 2 */
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1rem;
  padding: 2px 8px;
  background: #e8e8e8;
  margin: 0;
}

/* Typography -> Font styles */
b,
strong {
  font-weight: bolder;
  color: #222;
}

em {
  font-style: normal;
  color: var(--theme-color);
}

dfn,
cite {
  font-style: italic;
}

del {
  text-decoration: line-through;
}

small {
  font-size: 80%;
}

big {
  font-size: 125%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

tt,
var {
  font-family: monospace, monospace;
  font-style: italic;
}

mark {
  background: var(--theme-color);
  color: #fff;
  text-shadow: none;
}

/* Typography -> Address */
address {
  margin: 0 0 1rem 0;
  font-style: italic;
}

/* Typography -> Abbreviation */
acronym[title], abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

abbr,
acronym {
  cursor: help;
}

/* Typography -> Blockquote */
blockquote {
  position: relative;
  margin: 0.5rem 0;
  padding: 1rem;
  background: #f7f7f7;
  border: 1px solid #d6d6d6;
  -webkit-box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.2);
}

blockquote::before {
  position: absolute;
  top: 5px;
  right: 5px;
  content: '\f10e';
  font-family: 'milicon';
  font-size: 2em;
  line-height: 1;
}

blockquote > p:first-child {
  display: inline;
}

blockquote > :last-child {
  margin-bottom: 0;
}

/**
 * Media
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

img,
a img {
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
  border-style: none;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  max-width: 100%;
  height: auto;
  margin: 1rem 0;
  border: 0;
}

.align-left {
  margin: 1rem 1rem 1rem 0;
}

.align-right {
  margin: 1rem 0 1rem 1rem;
}

.align-center {
  margin: 1rem 0;
}

figcaption {
  padding: 4px;
  font-size: 0.8rem;
  background: #fff;
  border: 1px solid #d6d6d6;
  text-align: center;
}

.image-field {
  margin: 0 0 1rem 0;
}

/**
 * Form.
 */
input,
button,
optgroup,
select,
textarea {
  font: inherit;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.6;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  -webkit-appearance: button;
  padding: 9px 10px;
  background-color: var(--theme-color);
  color: #fff;
  -webkit-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}

button:hover,
[type="button"]:hover,
[type="reset"]:hover,
[type="submit"]:hover {
  background-color: #222;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
  border-style: none;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 0;
}

button[disabled],
html input[disabled] {
  cursor: default;
  opacity: 0.7;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

input {
  line-height: normal;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
  padding: 10px;
  background: #fff;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  -webkit-transition: border 0.5s linear;
  transition: border 0.5s linear;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  border: 1px solid #b1b1b1;
  outline: 0;
}

[type="checkbox"],
[type="radio"] {
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

textarea {
  width: 100%;
  padding: 9px;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  overflow: auto;
  -webkit-transition: border 0.3s linear;
  transition: border 0.3s linear;
  vertical-align: top;
}

fieldset {
  margin: 0 0 10px 0;
  padding: 0.35rem 0.5rem 0.5rem 0;
  border: 1px solid #d6d6d6;
}

fieldset > :last-child {
  margin-bottom: 0;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

optgroup {
  font-weight: bold;
}

select {
  padding: 4px 0;
}

form label {
  font-weight: bold;
}

label[for] {
  cursor: pointer;
}

.page-content input[type="text"],
.page-content input[type="password"],
.page-content input[type="search"] {
  padding: 9px 6px;
  outline: 0;
}

.page-content input {
  max-width: 100%;
}

/* Form -> Drupal form elements */
.form-item {
  margin-bottom: 1rem;
}

.form-required:after {
  content: "*";
  display: inline-block;
  padding-left: 4px;
  color: #e3831c;
}

progress {
  vertical-align: baseline;
}

::-webkit-input-placeholder {
  color: #8a8a8a;
}

:-moz-placeholder {
  color: #8a8a8a;
}

::-moz-placeholder {
  color: #8a8a8a;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #8a8a8a;
}

/* Drupal form elements */
.form-item {
  margin-bottom: 1rem;
}

.form-item label {
  display: block;
}

label.option {
  display: inline;
  font-weight: normal;
}

/**
 * List.
 */
ul,
ol {
  margin: 0;
  padding: 0 0 0.25rem 1rem;
  /* LTR */
}

[dir="rtl"] ul,
[dir="rtl"] ol {
  padding: 0 1rem 0.25rem 0;
}

ol ol,
ul ul {
  margin: 0;
  padding: 0 0 0.25rem 1rem;
  /* LTR */
}

[dir="rtl"] ol ol,
[dir="rtl"] ul ul {
  padding: 0 1rem 0.25rem 0;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

[dir="rtl"] ul,
[dir="rtl"] ol {
  padding: 0 1rem 0.25rem 0;
}

li {
  padding: 4px 0;
}

.node-content li {
  padding: 6px 0;
}

/* Typography -> Definition Lists */
dt {
  font-weight: 700;
}

/**
 * Table.
 */
table {
  width: 100%;
  margin-bottom: 1.2rem;
  border-spacing: 0;
  border-collapse: collapse;
}

th,
tr,
td {
  vertical-align: middle;
}

th {
  margin: 0;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  background: #dc5431;
  color: #fff;
  border: 2px solid #f46946;
  text-align: left;
  text-shadow: none;
}

td {
  padding: 5px 10px;
  border: 2px solid #d6d6d6;
}

/**
 * HTML elements
 */
hr {
  clear: both;
  width: 100%;
  height: 2px;
  background: #b7b5b1;
  border: 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  overflow: visible;
}

/**
 * Misc.
 */
::-moz-selection {
  background: var(--theme-color);
  color: #fff;
  text-shadow: none;
}
::selection {
  background: var(--theme-color);
  color: #fff;
  text-shadow: none;
}

::-moz-selection {
  background: var(--theme-color);
  color: #fff;
  text-shadow: none;
}

/**
 * Fonts.
 */
/* Fonts -> Heebo */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  src: local("Heebo"), local("Heebo-Regular"), url("../fonts/heebo.woff2") format("woff2"), url("../fonts/heebo.woff") format("woff");
}

/* Fonts -> Poppins */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local("Poppins Regular"), local("Poppins-Regular"), url("../fonts/poppins.woff2") format("woff2"), url("../fonts/poppins.woff") format("woff");
}

/* Font icons used in theme */
@font-face {
  font-family: 'milicon';
  src: url("../fonts/milicon.eot?y9we43");
  src: url("../fonts/milicon.eot?y9we43#iefix") format("embedded-opentype"), url("../fonts/milicon.ttf?y9we43") format("truetype"), url("../fonts/milicon.woff?y9we43") format("woff"), url("../fonts/milicon.svg?y9we43#milicon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'milicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 14px;
  font-size: inherit;
  line-height: 1;
  display: inline-block;
  /* Better Font Rendering =========== */
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\f002";
}

.icon-th-large:before {
  content: "\f009";
}

.icon-arrow-circle-o-up:before {
  content: "\f01b";
}

.icon-print:before {
  content: "\f02f";
}

.icon-check-square-o:before {
  content: "\f046";
}

.icon-plus-circle:before {
  content: "\f055";
}

.icon-exclamation-circle:before {
  content: "\f06a";
}

.icon-exclamation-triangle:before {
  content: "\f071";
}

.icon-warning:before {
  content: "\f071";
}

.icon-calendar:before {
  content: "\f073";
}

.icon-cogs:before {
  content: "\f085";
}

.icon-gears:before {
  content: "\f085";
}

.icon-bars:before {
  content: "\f0c9";
}

.icon-navicon:before {
  content: "\f0c9";
}

.icon-reorder:before {
  content: "\f0c9";
}

.icon-comment-o:before {
  content: "\f0e5";
}

.icon-comments-o:before {
  content: "\f0e6";
}

.icon-file-text-o:before {
  content: "\f0f6";
}

.icon-angle-right:before {
  content: "\f105";
}

.icon-angle-up:before {
  content: "\f106";
}

.icon-angle-down:before {
  content: "\f107";
}

.icon-quote-right:before {
  content: "\f10e";
}

.icon-long-arrow-left:before {
  content: "\f177";
}

.icon-long-arrow-right:before {
  content: "\f178";
}

.icon-user-circle-o:before {
  content: "\f2be";
}

.icon-facebook:before {
  content: "\e900";
}

.icon-github:before {
  content: "\e901";
}

.icon-google-plus:before {
  content: "\e902";
}

.icon-instagram:before {
  content: "\e903";
}

.icon-linkedin:before {
  content: "\e904";
}

.icon-telegram:before {
  content: "\e905";
}

.icon-twitter:before {
  content: "\e906";
}

.icon-vk:before {
  content: "\e907";
}

.icon-whatsapp:before {
  content: "\e908";
}

.icon-youtube:before {
  content: "\e909";
}

/*
 * Layout
 */
/* Layout -> container */
.container {
  position: relative;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 10px;
}

/*
 * Page Layout
 */
#main-wrapper {
  position: relative;
  width: 100%;
  padding: 1.6rem 0;
}

.main-container {
  position: relative;
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin: 0;
  padding: 0;
}

.no-sidebar .main-container {
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
}

.sidebar-left .main-container {
  -ms-grid-columns: 27% 73%;
      grid-template-columns: 27% 73%;
}

.sidebar-right .main-container {
  -ms-grid-columns: 73% 27%;
      grid-template-columns: 73% 27%;
}

.two-sidebar .main-container {
  -ms-grid-columns: 27% 46% 27%;
      grid-template-columns: 27% 46% 27%;
}

#sidebar-left {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

#main {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

#sidebar-right {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

/*
 * Common styling for block regions
 */
.block,
.block-content,
.block-title {
  position: relative;
}

/*
 * Highlighted
 */
.region-highlighted {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.region-highlighted .block {
  margin-bottom: 16px;
}

/*
 * Header
 */
/* header -> header layout */
.header {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--theme-color);
  z-index: 12;
}

.header-main {
  padding: 10px 0;
}

.header-main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* header -> homepage header when slider is enabled */
.frontpage .header {
  background: linear-gradient(45deg, #d1392b 0%, #d1542b 50%, #d1392b 100%);
  width: 100%;
  height: 100vh;
  padding: 0;
  background-size: cover;
  overflow: hidden;
}

/* Header -> site branding. */
.site-branding {
  position: relative;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-weight: 400;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-branding img {
  width: auto;
  max-height: 80px;
}

.site-branding a {
  color: #ffffff;
}

.site-name {
  font-size: 1.6rem;
}

.site-slogan {
  font-family: "Heebo", sans-serif;
  font-size: 0.9rem;
}

/* Header -> header right */
.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Header -> header right -> main menu */
.mobile-menu {
  position: relative;
  display: none;
  float: right;
  margin: 0 6px 0 0;
  line-height: 1;
  color: #ffffff;
  cursor: pointer;
}

.mobile-menu i {
  padding: 12px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.close-mobile-menu {
  display: none;
  width: 34px;
  height: 34px;
  font-family: "Heebo", sans-serif;
  line-height: 30px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  z-index: 48;
  cursor: pointer;
  text-align: center;
}

.primary-menu-wrapper {
  float: right;
  font-family: "Heebo", sans-serif;
  font-weight: 400;
}

.menu-wrap {
  position: relative;
  float: right;
}

ul.main-menu {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Heebo", sans-serif;
  font-size: 1em;
  font-weight: 400;
  z-index: 30;
  list-style: none;
  list-style-type: none;
  text-transform: none;
}

ul.main-menu > li a,
ul.main-menu > li > span {
  color: #fff;
  text-decoration: none;
}

ul.main-menu li {
  position: relative;
  display: inline-block;
  padding: 0;
}

ul.main-menu > li {
  display: inline-block;
  line-height: 1;
}

ul.main-menu > li > a,
ul.main-menu > li > span {
  display: block;
  margin: 0;
  padding: 14px;
}

ul.main-menu > li > a:hover {
  background: #222;
  color: #fff;
}

.main-menu .submenu {
  position: absolute;
  display: none;
  top: 100%;
  margin: 0;
  padding: 0;
  z-index: 30;
  opacity: 0;
}

ul.main-menu ul.submenu li {
  display: block;
  min-width: 160px;
  font-size: 0.9rem;
  background: #222;
  border-top: 1px solid #494949;
  text-align: left;
}

ul.main-menu ul.submenu li a,
ul.main-menu ul.submenu li span {
  display: block;
  padding: 12px 1px 12px 10px;
  color: #ffffff;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

li.expanded:hover > .submenu,
li.collapsed:hover > .submenu {
  display: block;
  -webkit-animation: slideUp 0.5s forwards;
  animation: slideUp 0.5s forwards;
}

.active-menu li.expanded:hover ul.submenu,
.active-menu li.collapsed:hover ul.submenu {
  -webkit-animation: none;
  animation: none;
}

ul.main-menu li:hover > a {
  background: #222;
  color: #fff;
}

.dropdown-arrow i {
  font-size: 16px;
}

/* third level menu items */
.main-menu .submenu .submenu {
  left: 100%;
  top: 0;
}

.submenu .expanded::after {
  position: absolute;
  display: inline-block;
  content: '+';
  top: 0.7rem;
  right: 1rem;
  color: var(--color-secondary);
}

/* Header -> search box */
.full-page-search {
  position: relative;
}

.search-icon {
  position: relative;
  float: right;
  margin: 0;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: all 550ms cubic-bezier(0.45, 1, 0.32, 1);
  transition: all 550ms cubic-bezier(0.45, 1, 0.32, 1);
}

.search-icon i {
  padding: 12px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.search-icon a {
  color: #fff;
}

.search-box {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  z-index: 50;
  -webkit-transition: all 550ms cubic-bezier(0.45, 1, 0.32, 1);
  -webkit-transition: all 600ms cubic-bezier(0.45, 1, 0.32, 1);
  transition: all 600ms cubic-bezier(0.45, 1, 0.32, 1);
  -webkit-transform: scale(0);
  transform: scale(0);
  opacity: 0;
}

.search-box.open {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.search-box-content {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  height: 100%;
  z-index: 53;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.region-search-box {
  width: 80%;
}

.search-box-content .block-title {
  color: #fff;
}

.search-box-content form label {
  display: none;
}

.search-box-content input[type="search"] {
  width: 100%;
  margin: 30px 0;
  padding: 0 30px 10px 0;
  font-size: 1.4em;
  background: url("../images/search.png") top right no-repeat;
  color: #fff;
  border: 0;
  border-bottom: 2px solid #fff;
  border-radius: 0;
  outline: 0;
}

.search-box-content input[type="submit"] {
  padding: 10px 20px;
  background: var(--theme-color);
  color: #fff;
}

.search-box-content input[type="submit"]:hover {
  background: #000;
}

.search-box-close {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  cursor: url("../images/cursor.svg"), auto;
}

/* Header -> Page header. */
.page-header {
  position: relative;
  display: block;
  width: 100%;
  margin: 0;
  padding: 2rem 0;
  z-index: 15;
}

.region-page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* Header -> Page header -> Breadcrumb. */
.breadcrumb {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 10px 0;
  font-family: "Heebo", sans-serif;
}

.breadcrumb,
.breadcrumb a {
  color: var(--color-secondary);
}

.breadcrumb a:hover {
  color: #fff;
}

.breadcrumb-items {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.breadcrumb-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  line-height: 1;
}

.breadcrumb-item-seperator {
  margin: 0 10px;
}

.page-header .page-title {
  color: #fff;
}

/*
 * Sidebar
 */
.sidebar {
  position: relative;
  width: 100%;
  margin: 0;
  font-family: "Heebo", sans-serif;
}

#sidebar-left {
  padding: 0 20px 0 0;
}

#sidebar-right {
  padding: 0 0 0 20px;
}

/* Sidebar -> Sidebar block */
.sidebar .block {
  margin-bottom: 20px;
  padding: 1rem;
  background: #ffffff;
  -webkit-box-shadow: 0 0 4px #d8d8d8;
          box-shadow: 0 0 4px #d8d8d8;
}

.sidebar .block-title {
  position: relative;
  color: var(--bold-color);
  font-size: 1.5rem;
  font-weight: 400;
  padding: 0 0 4px 0;
  margin: 0 0 10px 0;
}

.sidebar .block-title::after {
  position: absolute;
  content: "";
  background: var(--theme-color);
  bottom: 0;
  left: 0;
  width: 40px;
  height: 2px;
}

.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar li {
  padding: 6px 0;
  border-bottom: 2px solid #f2f1ec;
}

.sidebar li:last-child {
  border: 0;
}

/* Sidebar -> search form in sidebar */
.sidebar #search-block-form {
  display: table;
  width: 100%;
}

.sidebar #search-block-form .form-item,
.sidebar #search-block-form .form-actions {
  display: table-cell;
  vertical-align: middle;
}

.sidebar #search-block-form input {
  width: 100%;
  padding: 6px;
  border: 1px solid #f2f1ec;
  outline: 0;
}

.sidebar #search-block-form input:focus {
  outline: 0;
}

.sidebar #search-block-form input[type="submit"] {
  border-radius: 2px;
}

/* Main -> Admin Tabs */
.page-tabs {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 1rem 0;
  padding: 0;
  border-bottom: 2px solid var(--border-color);
}

ul.page-tabs li {
  padding: 0;
}

ul.page-tabs li a {
  padding: 4px 10px;
  background: var(--border-color);
  color: var(--bold-color);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

ul.page-tabs li a:hover {
  background: var(--color-secondary);
  color: #ffffff;
}

ul.page-tabs li.active-page-tab a {
  background: var(--theme-color);
  color: #ffffff;
}

/* Main -> Node */
.node,
.node-promoted,
.node-sticky,
.node-unpublished,
.node-view-mode-full {
  position: relative;
}

.node-content .field--name-body {
  text-shadow: 1px 1px #ffffff;
}

.node-view-mode-teaser.node-sticky {
  position: relative;
  padding: 0 1em 1em 1em;
  background: #ffffff;
  border: 1px solid var(--border-color);
  border-radius: 6px;
}

/* Main -> node -> teaser view */
.node-view-mode-teaser {
  position: relative;
  margin-bottom: 60px;
  padding-bottom: 80px;
  border-bottom: 3px double var(--border-color);
}

.node-view-mode-full .node-taxonomy-container {
  margin: 0;
}

/* Main -> node -> submitted details */
.node-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 0 14px 0;
  padding-bottom: 4px;
  border-bottom: 1px solid var(--border-color);
}

.author-picture img {
  width: auto;
  height: 24px;
  padding-right: 6px;
}

.author-picture .image-field {
  margin: 0;
}

.node-submitted-details,
.node-submitted-details a {
  color: #757575;
}

.node-submitted-details a:hover {
  border-bottom: 1px dotted var(--theme-color);
}

.node-submitted-details i {
  margin: 0 0 0 14px;
  color: var(--theme-color);
  vertical-align: middle;
}

.node-submitted-details i.user-icon {
  margin-left: 0;
}

/* Main -> node -> taxonomy and links */
.node-taxonomy-container,
.node-links-container {
  position: relative;
  display: block;
  width: 100%;
  margin: 0;
  padding: 16px 0 16px 0;
  border-top: 1px solid var(--border-color);
}

.node-links-container {
  border-bottom: 1px solid var(--border-color);
}

h3.term-title {
  margin: 0;
  font-size: 1.2em;
  line-height: 1;
}

.term-title i {
  font-size: 1.1em;
  color: var(--theme-color);
}

ul.taxonomy-terms {
  margin: 1em 0 0.2em 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}

li.taxonomy-term {
  display: inline-block;
}

li.taxonomy-term a {
  padding: 4px 10px;
  background: #ffffff;
  border: 1px dashed var(--theme-color);
  border-radius: 4px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

li.taxonomy-term a:hover {
  background: var(--theme-color);
  color: #ffffff;
}

.node-links-container ul.links {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}

ul.inline,
ul.links.inline {
  display: inline;
  padding-left: 0;
}

ul.inline li {
  position: relative;
  display: inline-block;
  padding: 0;
  list-style-type: none;
}

.node-links-container li {
  float: left;
  margin-right: 20px;
}

.node-links-container li.node-readmore {
  float: right;
  margin-left: 0;
}

.node-links-container .comment-comments::before,
.node-links-container .comment-add::before {
  padding-right: 2px;
  font-family: "milicon";
}

.node-links-container .comment-comments::before {
  content: "\f0e6";
}

.node-links-container .comment-add::before {
  content: "\f0e5";
  vertical-align: 1px;
}

.node-readmore {
  float: left;
}

li.node-readmore a {
  padding: 6px 12px;
  background: var(--theme-color);
  color: #ffffff;
  -webkit-transition: background 0.4s ease;
  transition: background 0.4s ease;
}

li.node-readmore a:hover {
  background: #222;
  color: #ffffff;
}

li.node-readmore a::after {
  content: "\f178";
  padding-left: 10px;
  font-family: "milicon";
}

.node-view-mode-teaser li.comment-add,
.node-view-mode-teaser li.comment-forbidden {
  text-align: right;
}

/* Main -> node -> pager */
nav.pager {
  position: relative;
}

.pager ul.pager__items {
  position: relative;
  margin: 0;
  padding: 1em 0;
  list-style: none;
  list-style-type: none;
}

.pager__items {
  clear: both;
  text-align: center;
}

.pager__item {
  display: inline-block;
  padding: 12px 0;
}

.pager__item a {
  padding: 8px 14px;
  background: #ffffff;
  border: 1px dashed var(--theme-color);
  border-radius: 4px;
}

.pager__item a:hover,
.pager__item.is-active a {
  background: var(--theme-color);
  color: #ffffff;
}

/*
 * comments
 */
#node-comment {
  position: relative;
  padding-top: 1rem;
  border-top: 4px double var(--border-color);
}

#node-comment i {
  color: var(--theme-color);
}

.comments-title i {
  font-size: 1em;
}

/* Comments -> comment form. */
.comment-form-wrap {
  position: relative;
  padding: 1rem;
  background: #f5f4f0;
  border: 2px solid var(--border-color);
}

.add-comment-title {
  margin: 0;
}

.add-comment-title i {
  font-size: 1em;
}

.comment-form label {
  display: block;
}

.filter-wrapper {
  font-size: 0.9em;
  border: 2px solid #fff;
}

.filter-wrapper ul {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}

.filter-wrapper ul li {
  padding: 6px 0;
  border-bottom: 1px solid #fff;
}

.filter-wrapper ul li:last-child {
  border: 0;
}

/* Comments -> single comment */
.single-comment {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 14px;
  padding: 10px 0;
  background: #ffffff;
  border: 2px solid var(--border-color);
  border-radius: 6px;
}

.comment-user-picture {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  padding: 0 10px;
  border-right: 2px solid var(--border-color);
  text-align: center;
}

.comment-user-picture img {
  max-width: 100px;
  height: auto;
}

.single-comment-content-body {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100px;
          flex: 1 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 10px;
}

h3.single-comment-title {
  margin: 0.1em 0;
  font-size: 1.2em;
}

.single-comment-meta {
  width: 100%;
  margin-bottom: 6px;
  padding-bottom: 6px;
  font-size: 0.9em;
  color: #909090;
  border-bottom: 2px solid var(--border-color);
}

.single-comment-meta a {
  color: #909090;
}

#node-comment .indented {
  margin-left: 60px;
}

.comment-reply a,
.comment-delete a,
.comment-edit a {
  padding: 2px 6px;
  border: 1px dashed var(--theme-color);
  border-radius: 4px;
}

.comment-reply a:hover,
.comment-delete a:hover,
.comment-edit a:hover {
  background: var(--theme-color);
  color: #fff;
}

.comment-delete,
.comment-edit {
  margin-right: 4px;
}

/*
 * Footer
 */
.footer {
  background: var(--theme-color);
  color: #ffffff;
  width: 100%;
}

.footer a {
  color: var(--color-secondary);
}

.footer a:hover {
  color: #ffffff;
}

.footer .block-title {
  position: relative;
  color: #ffffff;
  font-size: 1.4rem;
  margin: 0 0 10px 0;
  padding: 0 0 6px 0;
}

.footer-blocks .block-title::after {
  position: absolute;
  background: var(--color-secondary);
  content: "";
  bottom: 0;
  left: 0;
  width: 3rem;
  height: 2px;
}

.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer li {
  padding: 4px 0;
  border-bottom: 1px solid var(--color-secondary);
}

.footer li:last-child {
  border-bottom: 0;
}

/* Footer -> footer top block region */
.footer-top {
  position: relative;
  width: 100%;
  padding: 2rem 0;
}

.region-footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.4rem;
}

/* Footer -> four column block regions */
.footer-blocks {
  position: relative;
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  gap: 1rem;
  padding: 2rem 0;
}

/* Footer -> footer bottom block region */
.footer-bottom-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  gap: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem 0;
  border-top: 4px double var(--color-secondary);
}

/* Footer -> footer bottom -> Social icons. */
.social-icons {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.social-icons li {
  border: 0;
}

.social-icons a {
  display: -ms-grid;
  display: grid;
  color: #ffffff;
  place-content: center;
  width: 48px;
  height: 48px;
  border: 2px solid var(--color-secondary);
  border-radius: 50%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.social-icons a:hover {
  background-color: var(--color-secondary);
}

.social-icons i {
  font-size: 1.2rem;
  line-height: 1;
}

/* Footer -> Footer bottom block region */
.footer-bottom {
  position: relative;
  padding: 0 0 20px 0;
}

/* Footer -> Scroll To Top. */
.scrolltop {
  position: fixed;
  display: none;
  place-content: center;
  right: 10px;
  bottom: 10px;
  width: 48px;
  height: 48px;
  background: var(--bold-color);
  color: #ffffff;
  border-radius: 10px;
  z-index: 28;
  cursor: pointer;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.scrolltop i {
  font-size: 1.6rem;
}

.scrolltop:hover {
  background: var(--color-secondary);
}

/* Text align
-------------------------------------------- */
.text_left,
.text-left {
  text-align: left;
}

.text_right,
.text-right {
  text-align: right;
}

.text_center,
.text-center {
  text-align: center;
}

/* Text Size
-------------------------------------------- */
.size-2x {
  font-size: 2em;
}

.size-3x {
  font-size: 3em;
}

.size-4x {
  font-size: 4em;
}

.size-5x {
  font-size: 5em;
}

.size-6x {
  font-size: 6em;
}

/* container width
-------------------------------------------- */
.width40 {
  width: 40%;
  margin: 0 auto;
}

.width50 {
  width: 50%;
  margin: 0 auto;
}

.width60 {
  width: 60%;
  margin: 0 auto;
}

.width70 {
  width: 70%;
  margin: 0 auto;
}

.width80 {
  width: 80%;
  margin: 0 auto;
}

.width90 {
  width: 90%;
  margin: 0 auto;
}

/* column
-------------------------------------------- */
.section {
  width: 100%;
  margin: 0 0 3rem 0;
}

.full {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 0;
}

.full > div {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 250px;
          flex: 1 0 250px;
}

/* Button
-------------------------------------------- */
.button {
  color: #fff;
  text-shadow: none;
  display: inline-block;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  padding: 9px 10px;
  background-color: var(--theme-color);
  color: #fff;
  -webkit-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}

.button a, .button a:visited, a.button, a.button:visited {
  color: #fff;
}

.button:hover {
  background: #222;
  color: #fff;
}

/* features and serices */
.features,
.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  gap: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.feature,
.service {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 300px;
          flex: 1 0 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  text-align: center;
  border-radius: 12px;
  -webkit-transition: all linear .3s;
  transition: all linear .3s;
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
}

.feature i,
.service i {
  color: var(--theme-color);
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

.feature .button,
.service .button {
  padding: 8px 1rem;
  border-radius: 6px;
}

.feature:hover,
.service:hover {
  background: var(--theme-color);
  color: #ffffff;
}

.feature:hover i,
.service:hover i {
  color: #ffffff;
}

.feature:hover h3,
.service:hover h3,
.feature:hover h4,
.service:hover h4,
.feature:hover h5,
.service:hover h5 {
  color: #ffffff;
}

.feature:hover a,
.service:hover a {
  color: var(--color-secondary);
}

.feature:hover .button,
.service:hover .button {
  background-color: var(--color-secondary);
  color: #ffffff;
}

.feature img,
.service img {
  max-height: 3.4rem;
}

/* Animation
-------------------------------------------- */
/*slide up */
@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeOutLeft {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.fadeOutLeft {
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/*
 * Drupal message
 */
.message {
  position: relative;
  margin: 20px 0;
  padding: 14px 14px 14px 64px;
  color: #ffffff;
  text-shadow: none;
}

.message p {
  margin: 0;
}

.message a,
.message a:visited {
  color: #ffffff;
  text-decoration: underline;
}

.message-status {
  background: #89ad32;
}

.message-status::before {
  content: "\f046";
  background-color: #759625;
}

.message-error {
  background: #c94d1c;
}

.message-error::before {
  content: "\f06a";
  background-color: #b3461b;
}

.message-warning {
  background: #cd5a0a;
}

.message-warning::before {
  content: "\f071";
  background-color: #a44707;
}

.message::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 53px;
  height: 100%;
  font-family: "milicon";
  font-size: 2em;
  line-height: 53px;
  text-align: center;
}

/*
 * Search result page
 */
.page-content input[type="search"] {
  width: 80%;
}

ol.search-results {
  margin: 0;
  padding: 0;
  border-top: 4px double var(--border-color);
  list-style: none;
  list-style-type: none;
}

ol.search-results li {
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
  border-bottom: 1px solid var(--border-color);
}

.search-advanced summary {
  margin: 10px 0;
  cursor: pointer;
}

.search-advanced .form-details-wrapper {
  padding: 0.5em 1.4em;
  border: 1px solid var(--border-color);
}

.search-advanced .form-wrapper {
  padding: 0.5em 1.4em;
  border: 1px dashed var(--border-color);
}

/*
 * Homepage
 */
#home-main {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}

.homepage-content .block {
  width: 100%;
  margin-bottom: 80px;
}

.home-content .block-title {
  position: relative;
  text-align: center;
  margin-bottom: 1rem;
}

.home-content .block-title::before,
.home-content .block-title::after {
  position: absolute;
  content: "";
  left: 50%;
  width: 60px;
  height: 2px;
  margin-left: -30px;
}

.home-content .block-title::before {
  background: var(--theme-color);
  bottom: 6px;
}

.home-content .block-title::after {
  background: var(--color-secondary);
  bottom: 0;
}

/*
 * CLearing
 */
/* Clearing -> main and blocks */
.home-content .block::before,
.home-content .block::after {
  content: '';
  display: table;
  clear: both;
}

/* Clearing -> Node contents */
.node-taxonomy-container::before,
.node-taxonomy-container::after,
.node-links-container::before,
.node-links-container::after,
nav.pager::before,
nav.pager::after {
  content: "";
  display: table;
  clear: both;
}

@media only screen and (max-width: 767px) {
  html {
    font-size: 16px;
  }
  body {
    -webkit-text-size-adjust: none;
  }
  /* typography */
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 1.6rem;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="search"] {
    width: 100%;
  }
  /* Header */
  .page-header {
    padding: 1rem 0;
  }
  /* Header */
  .mobile-menu {
    display: block;
  }
  .main-menu {
    display: none;
  }
  .active-menu .main-menu {
    display: block;
  }
  .mobile-menu {
    display: block;
    float: right;
  }
  .menu-wrap {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    margin-left: -1000px;
    background: transparent;
    z-index: 40;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .active-menu .menu-wrap {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 320px;
    height: 100%;
    margin-left: 0;
    background: rgba(0, 0, 0, 0.9);
    z-index: 40;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .active-menu .menu-wrap ul.main-menu {
    overflow-y: scroll;
  }
  .active-menu .menu-wrap ul.main-menu > li {
    display: block;
    float: none;
  }
  .active-menu .menu-wrap ul.main-menu a {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
  }
  .active-menu .menu-wrap .dropdown-arrow {
    position: absolute;
    right: 10px;
  }
  .active-menu ul.main-menu ul.submenu {
    position: relative;
    display: block;
    top: 0;
    opacity: 1;
  }
  .active-menu ul.main-menu ul.submenu::before,
  .active-menu ul.main-menu ul.submenu::after {
    content: "";
    display: table;
    clear: both;
  }
  .active-menu ul.main-menu ul.submenu li {
    position: relative;
    width: 100%;
    padding: 0;
    background: none;
  }
  .active-menu ul.main-menu ul.submenu li a {
    display: block;
    width: 100%;
  }
  .active-menu ul.main-menu li a {
    border-bottom: 1px solid #434343;
  }
  .active-menu .close-mobile-menu {
    position: absolute;
    display: block;
    top: 4px;
    right: 4px;
  }
  .main-menu .submenu {
    padding-left: 2rem;
  }
  .main-menu .submenu .submenu {
    position: relative;
    left: 0;
  }
  /* Search */
  .search-box-content .block {
    width: 90%;
  }
  .slider-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .slider-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  /* Layout */
  .no-sidebar .main-container,
  .sidebar-left .main-container,
  .sidebar-right .main-container,
  .two-sidebar .main-container {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  #sidebar-left {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    padding: 0;
  }
  #sidebar-right {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    padding: 0;
  }
  /* comment */
  .comment-user-picture {
    padding: 0 3px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50px;
            flex: 0 0 50px;
  }
  .comment-user-picture img {
    max-width: 50px;
  }
  .single-comment-content-body {
    padding: 0 5px;
  }
  #node-comment .indented {
    margin-left: 20px;
  }
  /* Footer */
  .footer-blocks {
    grid-auto-flow: row;
  }
  /* custom content */
  .width50,
  .width60,
  .width70,
  .width80 {
    width: 100%;
  }
  /* Drupal core */
  .align-left,
  .align-right {
    float: none;
    clear: both;
    margin: 1rem auto;
  }
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*# sourceMappingURL=style.css.map */