<section class="page-header">
  <div class="container">
    {% if page.page_header %}
      <div class="page-header">
        {{ page.page_header }}
      </div>
    {% endif %}
  </div><!-- /.container -->
</section>
