{% if page.search_box %}
<div class="full-page-search">
  <div class="search-icon">
    <a href="#"><i class="icon-search"></i></a>
  </div> <!--/.search icon -->
  <div class="search-box">
    <div class="search-box-close"></div>
    <div class="search-box-content">
      {{ page.search_box }}
    </div>
    <div class="search-box-close"></div>
  </div> <!-- /.search-box -->
</div> <!--/.full-page-search -->
{% endif %}
