/*
 * Common styling for block regions
 */
 .block,
 .block-content,
 .block-title {
   position: relative;
 }
 
 /*
 * Highlighted
 */
.region-highlighted {
  position: relative;
  display: flex;
  flex-direction: column;
}
.region-highlighted .block {
  margin-bottom: 16px;
}