/* Text align
-------------------------------------------- */
.text_left,
.text-left {
  text-align: left;
}
.text_right,
.text-right {
  text-align: right;
}
.text_center,
.text-center {
  text-align: center;
}

/* Text Size
-------------------------------------------- */
.size-2x {
  font-size: 2em;
}
.size-3x {
  font-size: 3em;
}
.size-4x {
  font-size: 4em;
}
.size-5x {
  font-size: 5em;
}
.size-6x {
  font-size: 6em;
}

/* container width
-------------------------------------------- */
.width40 {
  width: 40%;
  margin: 0 auto;
}
.width50 {
  width: 50%;
  margin: 0 auto;
}
.width60 {
  width: 60%;
  margin: 0 auto;
}
.width70 {
  width: 70%;
  margin: 0 auto;
}
.width80 {
  width: 80%;
  margin: 0 auto;
}
.width90 {
  width: 90%;
  margin: 0 auto;
}

/* column
-------------------------------------------- */
.section {
  width: 100%;
  margin: 0 0 3rem 0;
}
.full {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
}
.full > div {
  flex: 1 0 250px;
}
/* Button
-------------------------------------------- */
.button {
  color: #fff;
  text-shadow: none;
  display: inline-block;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  padding: 9px 10px;
  background-color: var(--theme-color);
  color: #fff;
  -webkit-transition: background-color 0.4s ease;
  -moz-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}
.button a, .button a:visited, a.button, a.button:visited {
  color: #fff;
}
.button:hover {
  background: #222;
  color: #fff;
}

/* features and serices */
.features,
.services {
  display: flex;
  width: 100%;
  gap: 1rem;
  flex-wrap: wrap;
}
.feature,
.service {
  flex: 1 0 300px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  text-align: center;
  border-radius: 12px;
  transition: all linear .3s;
  box-shadow: var(--shadow);
}
.feature i,
.service i {
  color: var(--theme-color);
  transition: all linear 0.3s;
}
.feature .button,
.service .button {
  padding: 8px 1rem;
  border-radius: 6px;
}
.feature:hover,
.service:hover {
  background: var(--theme-color);
  color: #ffffff;
}
.feature:hover i,
.service:hover i {
  color: #ffffff;
}
.feature:hover h3,
.service:hover h3,
.feature:hover h4,
.service:hover h4,
.feature:hover h5,
.service:hover h5 {
  color: #ffffff;
}
.feature:hover a,
.service:hover a {
  color: var(--color-secondary);
}
.feature:hover .button,
.service:hover .button {
  background-color: var(--color-secondary);
  color: #ffffff;
}
.feature img,
.service img {
  max-height: 3.4rem;
}
/* Animation
-------------------------------------------- */
/*slide up */
@-webkit-keyframes slideUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@-moz-keyframes slideUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@-o-keyframes slideUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@-webkit-keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.fadeOutLeft {
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
